{% extends 'layouts/blank.html' %}

{% block cookie_modal %}
{% endblock cookie_modal %}


{% block content %}
<content class="block max-w-3xl mx-auto md:p-12">
    <div class="bg-white rounded-2xl md:drop-shadow-2xl shadow-black w-full p-8">

    <h1 class="text-3xl font-bold mb-4">Privacy Policy</h1>

    <p class="mb-4">Your privacy is very important to me.</p> 
        
    <p class="mb-4">However, this is a demo project to finish my subject work, and currently, I have no idea how to deal with your personal data. So, for meeting the requirements of my work, here is the privacy policy and GDPR related functions exist.</p> 
        
    <p class="mb-4">I will delete all the data after the project is finished.</p> 

    <p>
        <span class="inline-block flex justify-end m-4 text-gray-400">WJW - An asynchronous chat system</span>
    </p>

{% endblock content %}